<section class="history-view">

  <div class="user-info-area row align-middle">

    <div class="user-info col-lg">
      <% if history.user.state? %>

        <div class="enabale-user row-nocol align-middle">

          <% if history.user.user_image.attached? %>
            <%= image_tag history.user.user_image, class: 'user-image-index' %>
          <% else %>
            <%= image_tag 'default-user-icon.svg', class: 'user-image-index' %>
          <% end %>
          
          <div>
            <span class="user-name"><%= history.user.name %></span>
            <span class="user-name-id">&#64;<%= history.user.name_id %></span>
          </div>
        </div>
        

      <% else %>

        <div class="disable-user row-nocol align-middle">
          
          <%= image_tag 'default-user-icon.svg', class: 'user-image-index' %>
          
          <div>
            <span class="user-name">無効なユーザー</span>
            <span class="user-name-id"></span>
          </div>
        </div>
      <% end %>
    </div>

    <p class="updated-time col-lg-auto">
      <%= l history.created_at %> 更新
    </p>

  </div>



  <h1><%= history.title %></h1>

  <article class="old-article-content"><%= simple_format(h(history.content), {}, sanitize: false, wrapper_tag: "div") %>
  </article>



</section>

<section class="revert-operation-area row nopad align-middle">
  
  <p class="history-view-close-button col-6">閉じる</p>

  <%# revertボタン %>
  <%= link_to("/articles/#{article.id}/histories/#{history.id}", method: :post, local: true, data: { confirm: "この記事内容で復元します。よろしいですか？"}, class: 'revert-button col-6') do %>
    この内容で復元する
  <% end %>
</section>

