
<% content_for :breadcrumbs do %>
  <li>記事一覧</li>
<% end %>


<div class="content-wrapper">

<div class="page-heading-wrapper row nopad align-top">

  <div class="page-heading col">
    <h1>記事一覧</h1>
  </div>

  <div class="add-article col-auto order-lg-last">

    <div class="row-nocol just-end-lg">
      <p><%= link_to(new_article_path, class: 'btn') do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>記事の作成
      <% end %></p>
    </div>

  </div>


  <div class="search-area col-lg-auto">
    <%# 検索 %>
    <%= render partial: 'search_form' %>
  </div>

</div>





<% if @articles %>

  <% @articles.each do |article| %>
    
    <article class="index-article">


      <div class="article-head row align-top">

        <%# 記事タイトル %>
        <div class="col-lg">
          <h1><%= link_to(article.title, article) %></h1>
        </div>

        <%# 編集削除ボタン %>
        <div class="article-operation-area col-lg-auto">
          <div class="row-nocol just-end-lg">
          <% if article.user_id == current_user.id %>
            
            <%= link_to(edit_article_path(article), class: 'edit') do %> 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
              <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
              </svg>編集
            <% end %> 

            <%= link_to(disposal_article_path(article), method: :post, data: { confirm: "この記事#{article.title}を削除します。よろしいですか？"}, class: 'delete') do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>削除
            <% end %>

            <% if current_user.admin? %>
              <%#= link_to(article, method: :delete, data: { confirm: "この記事#{article.title}を完全に削除します。よろしいですか？"}, class: 'perfect-delete') do %>
                <%# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>完全に削除 %>
              <%# end %>
            <% end %>

          <% elsif article.any? %>
            
            <%= link_to(edit_article_path(article), class: 'edit') do %> 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
              <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
              </svg>編集
            <% end %>

          <% elsif current_user.admin? %>

            <%#= link_to(article, method: :delete, data: { confirm: "この記事#{article.title}を完全に削除します。よろしいですか？"}, class: 'perfect-delete') do %>
              <%# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>完全に削除 %>
            <%# end %>
        
          <% end %>
          </div>
        </div>

      </div>


        <%# ユーザー情報 %>
        <div class="user-info-area row align-top">
          <div class="user-info col-lg">
            <% if article.user.state? %>
              <%= link_to(article.user) do %>
                <div class="enabale-user row-nocol align-middle">

                  <% if article.user.user_image.attached? %>
                    <%= image_tag article.user.user_image, class: 'user-image-index' %>
                  <% else %>
                    <%= image_tag 'default-user-icon.svg', class: 'user-image-index' %>
                  <% end %>
                  
                  <div>
                    <span class="user-name"><%= article.user.name %></span>
                    <span class="user-name-id">&#64;<%= article.user.name_id %></span>
                  </div>
                </div>
              <% end %>

            <% elsif article.user.state === false && current_user.admin? %>

              <%= link_to(article.user) do %>

                <div class="disable-user row-nocol align-middle">

                  <% if article.user.user_image.attached? %>
                    <%= image_tag article.user.user_image, class: 'user-image-index' %>
                  <% else %>
                    <%= image_tag 'default-user-icon.svg', class: 'user-image-index' %>
                  <% end %>

                  <div>
                    <span class="user-name"><%= article.user.name %></span>
                    <span class="user-name-id">&#64;<%= article.user.name_id %></span>
                  </div>
                </div>

              <% end %>

            <% else %>

              <div class="disable-user row-nocol align-middle">
                
                <%= image_tag 'default-user-icon.svg', class: 'user-image-index' %>
                
                <div>
                  <span class="user-name">無効なユーザーです</span>
                  <span class="user-name-id"></span>
                </div>
              </div>
            <% end %>
          </div>


          <% if article.any? %>
            <p class="article-edit-permit-status any-indication col-lg-auto"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
            </svg>誰でも編集可能</p>

          <%# elsif tag.self? %>
          <%# elsif tag.selected? %>

          <% end %>
          
        </div>


        <%# タグ %>
        <ul class="tags clearfix">
          
        <% article.tags.each do |tag| %>
          <li class="tag"><%= link_to(tag_path(tag)) do %>
              <%= tag.label %>
          <% end %></li>

        <% end %>
        </ul>

        <div class="article-aside-area row-nocol align-top">

          <%# いいねボタン %>
          <%# if article.opened? || article.limited? %>
            <div class="like">
              <% if current_user.already_liked?(article.likes, current_user.id) %>

                <%= render partial: 'likes/unlike', locals: { article: article } %>

              <% else %>

                <%= render partial: 'likes/like', locals: { article: article } %>

              <% end %>
            </div>

          <%# end %>


          <%# 作成更新日 %>
          <div class="article-date row">
            <p class="col-sm-auto"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
            <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg><%= l article.created_at, format: :short %>作成</p>
            <p class="col-sm-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
              </svg>
              <%= l article.updated_at, format: :short %>更新
            </p>
          </div>


        </div>

        
    </article>

  <% end %>



  <%# ページネーション %>
  <%= paginate @articles %>


<% end %>

</div>